# Python Project: Numbers

Create a  Python project to get the value of Pi to n number of decimal places.

In [2]:
from mpmath import mp

In [7]:
def pi_val(n):
    mp.dps = n+1
    return mp.pi

In [8]:
n=40
print(f"Value of pi upto {n} decimals:\n {pi_val(n)}")

Value of pi upto 40 decimals:
 3.1415926535897932384626433832795028841972

Create a Python project to perform some simple statistics on a list of values.

In [10]:
import statistics

In [11]:
list1 = [1,2,3,4,5,1,2,34,20]

In [12]:
print(f"List: {list1}")

List: [1, 2, 3, 4, 5, 1, 2, 34, 20]

In [15]:
print(f"Mean: {statistics.mean(list1)}")

Mean: 8

In [16]:
print(f"Median: {statistics.median(list1)}")

Median: 3

In [17]:
print(f"Mode: {statistics.mode(list1)}")

Mode: 1

In [24]:
print(f"Population Standard Deviation: {statistics.pstdev(list1)}")

Population Standard Deviation: 10.749676997731399

In [25]:
print(f"Sample Standard Deviation: {statistics.stdev(list1)}")

Sample Standard Deviation: 11.40175425099138

In [26]:
print(f"Population Variance: {statistics.pvariance(list1)}")

Population Variance: 115.55555555555556

In [27]:
print(f"Sample Variance: {statistics.variance(list1)}")

Sample Variance: 130

In [30]:
print(f"Counter: {statistics.Counter(list1)}")

Counter: Counter({1: 2, 2: 2, 3: 1, 4: 1, 5: 1, 34: 1, 20: 1})

In [18]:
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'LinearRegression',
 'NormalDist',
 'StatisticsError',
 '_SQRT2',
 '__all__',
 '__annotations__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_decimal_sqrt_of_frac',
 '_exact_ratio',
 '_fail_neg',
 '_float_sqrt_of_frac',
 '_integer_sqrt_of_frac_rto',
 '_isfinite',
 '_mean_stdev',
 '_normal_dist_inv_cdf',
 '_rank',
 '_sqrt_bit_width',
 '_ss',
 '_sum',
 'bisect_left',
 'bisect_right',
 'correlation',
 'count',
 'covariance',
 'defaultdict',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'itemgetter',
 'linear_regression',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'namedtuple',
 'numbers',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'reduce',
 'repeat',
 'sqrt',
 'stdev',
 'sumprod',
 'sys',
 'tau',
 'variance']

# Python Projects: Web programming

Create a Python project to get the title, genre, rating and the url of the specific movie from IMDb movie database.

In [36]:
import requests
import bs4

In [58]:
def imdb_top(n):
    result = requests.get(f"https://www.imdb.com/search/title/?title_type=feature&sort=user_rating,desc&count={n}")
    soup = bs4.BeautifulSoup(result.content,"html.parser")
    print(result.text)

    for m in soup.select(".sc-300a8231-0 gTnHyA"):
        print("\n" + m[0].a.h3.text)  # movie's name

    # sc-300a8231-0 gTnHyA
    # sc-300a8231-0 gTnHyA

In [59]:
imdb_top(5)

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

Create a Python project to fetch job title and location from indeed website.

In [3]:
import requests
from bs4 import BeautifulSoup

In [51]:
def job_Search(location):
    url = f"https://in.indeed.com/jobs?q=&l={location}"
    res = requests.get(url)
    # print(res.text)
    soup = BeautifulSoup(res.text,'html.parser')
    print(soup.select('span'))
    # jobTitle css-1psdjh5 eu4oa1w0
    # data2 = soup.find('div','.css-1ac2h1w.eu4oa1w0')
    # print(data1)

In [52]:
job_Search('Ahmedabad')

[<span class="icon-profile"></span>, <span>Sign in</span>, <span style="font-style:italic">8ff9bf497cbc3a29</span>, <span style="font-style:italic">123.201.110.130</span>, <span>  →</span>]

In [53]:
# mainContentTable css-1v69ab7 eu4oa1w0
# mainContentTable css-1v69ab7 eu4oa1w0

Create a Python project to get the current stock price of specified companies.

In [54]:
import requests
import bs4

In [91]:
def getdata(n):
    url = "https://finance.yahoo.com/markets/stocks/gainers/"
    res = requests.get(url)
    # print(res.text)
    soup = bs4.BeautifulSoup(res.text,'html.parser')
    # Table
    # data1 = soup.select('.markets-table.freeze-col.yf-paf8n5.fixedLayout span')
    # Table Body
    for i in range(n):
        print(f"Comapany: {i+1}")
        data1 = soup.select(".body.yf-paf8n5 tr")[i]
        # print(data1)
        data2 = data1.select('td')[1]
        data3 = data1.select('td')[3]
        print(f"Name of Company: {data2.getText()}")
        print(f"Stock Price: {data3.getText()}\n")

In [93]:
getdata(10)

Comapany: 1
Name of Company: Catalyst Pharmaceuticals, Inc.
Stock Price:  22.80 +3.27 (+16.74%)

Comapany: 2
Name of Company: eBay Inc.
Stock Price:  69.40 +6.23 (+9.86%)

Comapany: 3
Name of Company: Equinox Gold Corp.
Stock Price:  5.80 +0.52 (+9.85%)

Comapany: 4
Name of Company: GDS Holdings Limited
Stock Price:  28.84 +2.38 (+8.99%)

Comapany: 5
Name of Company: AAR Corp.
Stock Price:  67.09 +5.34 (+8.65%)

Comapany: 6
Name of Company: Arcadium Lithium plc
Stock Price:  5.69 +0.44 (+8.38%)

Comapany: 7
Name of Company: The GEO Group, Inc.
Stock Price:  31.07 +2.38 (+8.30%)

Comapany: 8
Name of Company: Arcadium Lithium plc
Stock Price:  5.70 +0.43 (+8.16%)

Comapany: 9
Name of Company: Roku, Inc.
Stock Price:  83.00 +5.01 (+6.42%)

Comapany: 10
Name of Company: Oscar Health, Inc.
Stock Price:  15.29 +0.90 (+6.25%)

# 100 Python Projects for Beginners

Basic Movie Database: Create a simple movie database with features like adding, editing, and deleting movies.

In [120]:
# Using List of Dictionaries
movies = []

In [121]:
def add_movie(title, director, year, genre):
    movie = {
        "id" : len(movies)+1,
        "title" : title,
        "director" : director,
        "year" : year,
        "genre" : genre
    }
    movies.append(movie)
    print(f"Movie '{title}' Inserted Successfully!!")

def edit_movie(movie_id, new_title=None, new_director=None, new_year=None, new_genre=None):
    for m in movies:
        if m["id"] == movie_id:
            if new_title:
                m["title"] = new_title
            if new_director:
                m["director"] = new_director
            if new_year:
                m["year"] = new_year
            if new_genre:
                m["genre"] = new_genre
            print(f"Movie '{movie_id}' Updated Successfully!!")
            return
    print("Movie doesn't Exists!!")
    return

def delete_movie(movie_id):
    index = 0
    for m in movies:
        if m["id"] == movie_id:
            movies.pop(index)
        index += 1

def view_movies():
    for m in movies:
        print(m)

def search_movie_by_title(title):
    for m in movies:
        if m["title"] == title:
            print(f"Movie with title '{title}': {m}")
            return
    print(f"Movie '{title}' doesn't Exists!!")

In [122]:
add_movie("Inception", "Christopher Nolan", 2010, "Science Fiction")
add_movie("The Matrix", "Wachowski Sisters", 1999, "Science Fiction")
view_movies()
edit_movie(1, new_title="Inception: The Dream")
delete_movie(2)
view_movies()
search_movie_by_title("Inception")
search_movie_by_title("Inception: The Dream")

Movie 'Inception' Inserted Successfully!!
Movie 'The Matrix' Inserted Successfully!!
{'id': 1, 'title': 'Inception', 'director': 'Christopher Nolan', 'year': 2010, 'genre': 'Science Fiction'}
{'id': 2, 'title': 'The Matrix', 'director': 'Wachowski Sisters', 'year': 1999, 'genre': 'Science Fiction'}
Movie '1' Updated Successfully!!
{'id': 1, 'title': 'Inception: The Dream', 'director': 'Christopher Nolan', 'year': 2010, 'genre': 'Science Fiction'}
Movie 'Inception' doesn't Exists!!
Movie with title 'Inception: The Dream': {'id': 1, 'title': 'Inception: The Dream', 'director': 'Christopher Nolan', 'year': 2010, 'genre': 'Science Fiction'}

# Python Project: COVID-19

Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

In [29]:
import pandas as pd

In [30]:
data = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv")

In [31]:
data.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Latitude', 'Longitude'],
      dtype='object')

In [32]:
data.shape

(312, 8)

In [33]:
data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  154 non-null    object
 1   Country/Region  312 non-null    object
 2   Last Update     312 non-null    object
 3   Confirmed       312 non-null    int64
 4   Deaths          312 non-null    int64
 5   Recovered       312 non-null    int64
 6   Latitude        309 non-null    float64
 7   Longitude       309 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 19.6+ KB

In [35]:
data.isna().sum()

Province/State    158
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            3
Longitude           3
dtype: int64

Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [36]:
data['active'] = data.Confirmed - data.Recovered - data.Deaths

In [37]:
data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,active
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,8685
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,26062
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,9792
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,10187
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,9166

In [51]:
data['Total'] = data.groupby('Country/Region')['active'].transform('sum')

In [55]:
data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,active,Total
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,8685,9030
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,26062,26062
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,9792,9792
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,10187,10187
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,9166,9166

In [58]:
data[data['Total'] == data['Total'].max()]

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,active,Total
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,26062,26062